<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Elastic Search - HQ</title>
    <link href="static/app.bundle.css?ddf4173148a1914b3b62" rel="stylesheet"></head>
    <body ng-app="eshq" ng-strict-di>
        <eshq-top-nav></eshq-top-nav>
        <div class="container-fluid">
            <div ui-view></div>
        </div>
        <eshq-footer></eshq-footer>
    <script type="text/javascript" src="static/commons.ddf4173148a1914b3b62.js?ddf4173148a1914b3b62"></script><script type="text/javascript" src="static/main.ddf4173148a1914b3b62.js?ddf4173148a1914b3b62"></script></body>
</html>